
<form method="post" action="/users/profile/:id">


<div class="col-xs-12 col-md-4">
            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New Project</h3>

                <div class="form-group">
                        <label for="InputTitle">Title</label>
                        <input name = "title" type="text" class="form-control" id="InputTitle" placeholder="Title">
                    </div>
                    
                    <div class="form-group">
                        <label for="InputLink">Link</label>
                        <input name = "URL" type="url" class="form-control" id="InputLink" placeholder="Link">
                       
                    </div>

                    <div class="form-group">
                        <label for="Inputimg">Screenshot</label>
                        <input name = "screenshot" type="file" class="form-control" id="Inputimg" placeholder="Link" size="50">
                        
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                
            </div>
        </div>
    </div>
